/* Customize fumadocs theme and tailwind */

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: Georgia, ui-serif, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --logo-text: #7456dd;
  --logo-text-shimmer: #927ae4;

  --tip-bg: #dff6ddff;
  --tip-fg: #0f7b0fff;

  --info-bg: #f6f6f680;
  --info-fg: #005fb7ff;
  
  --note-bg: #00000006;
  --note-fg: #00000072;
  
  --caution-bg: #fff4ceff;
  --caution-fg: #9d5d00ff;
  
  --danger-bg: #fde7e9ff;
  --danger-fg: #c42b1cff;

  --tip-border: color-mix(in hsl, var(--tip-fg), var(--tip-bg));
  --info-border: color-mix(in hsl, var(--info-fg), var(--info-bg));
  --note-border: color-mix(in hsl, var(--note-fg), var(--note-bg));
  --caution-border: color-mix(in hsl, var(--caution-fg), var(--caution-bg));
  --danger-border: color-mix(in hsl, var(--danger-fg), var(--danger-bg));
}

.dark {
  --logo-text: #927ae4;
  --logo-text-shimmer: #7456dd;

  --tip-bg: #393d1bff;
  --tip-fg: #6ccb5fff;

  --info-bg: #ffffff08;
  --info-fg: #60cdffff;

  --note-bg: #ffffff08;
  --note-fg: #ffffff8b;

  --caution-bg: #433519ff;
  --caution-fg: #fce100ff;

  --danger-bg: #442726ff;
  --danger-fg: #ff99a4ff;
}
